aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.2
async-timeout==4.0.2
attrs==23.1.0
bcrypt==4.0.1
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.4
discord.py==2.2.3
distlib==0.3.6
filelock==3.12.2
Flask==2.3.2
Flask-Migrate==4.0.4
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
frozenlist==1.3.3
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.1
mpmath==1.3.0
multidict==6.0.4
mysqlclient==2.1.1
numpy==1.22.4
openai==0.27.6
opencv-python==4.5.5.64
platformdirs==3.8.0
pygame==2.1.2
PyPDF2==3.0.1
requests==2.30.0
SQLAlchemy==2.0.19
sympy==1.12
tqdm==4.65.0
typing_extensions==4.7.1
urllib3==2.0.2
virtualenv==20.23.1
Werkzeug==2.3.6
WTForms==3.0.1
yarl==1.9.2
